/* This file for write css for Global application means entire application not only specific part*/ 
@import url("~/platform.css"); /* adding specific style for ios and android it's importing style from platform.ios.css or platform.android.css*/

Page {
  background-color: white;
  font-size: 15;
}
TextField {
  padding: 10;
  font-size: 13;
}

.small-spacing {
  margin: 5;
}
.medium-spacing {
  margin: 10;
}